.DS_Store
DerivedData/
.derived-data/
.build/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcshareddata/WorkspaceSettings.xcsettings
